{{ define "main" }}
        
        <section class="hero">
            <h4>Effective IT Training & Employee Development Programs</h4>
        </section>
        
        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>Effective IT Training & Employee Development Programs</h4>
                        
                        <p class="intro-text">
                            An organizations greatest asset are its people. 
                            We are committed to educating people today for a better tomorrow. To support the needs of your organization, 
                            we offer training courses that  improve  professional skill sets helping people and their organization grow!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="upcoming-courses">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="light">Upcoming Courses</h4>
                        
                        <ul class="no-bullets">
                            <li>
                                <span class="event-date">11/18</span> - 
                                <a href="#">UX Design Development with ReactJS</a>
                            </li>
                            
                            <li>
                                <span class="event-date">11/18</span> - 
                                <a href="#">Simplifying the Developer Experience</a>
                            </li>
                            
                            <li>
                                <span class="event-date">11/18</span> - 
                                <a href="#">InDepth Angular 6</a>
                            </li>
                            
                            <li>
                                <span class="event-date">11/18</span> - 
                                <a href="#">iOS Development Boot Camp</a>
                            </li>
                            
                            <li>
                                <span class="event-date">11/18</span> - 
                                <a href="#">Certified Agile Developer</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-6">
                        <h4 class="light">&nbsp;</h4>
                        
                        <p class="dark light">
                            <span class="semibold">Hot Topics: </span>
                            <a href="#">ReactJS</a> |
                            <a href="#">AngularJS</a> |
                            <a href="#">Docker</a> |
                            <a href="#">Agile Dev</a> |
                            <a href="#">Dev Ops</a> |
                            <a href="#">Mobile Dev</a> |
                            <a href="#">Ruby</a> |
                            <a href="#">Apache</a> |
                            <a href="#">Jira</a> |
                            <a href="#">C#</a> |
                        </p>
                        
                        <div class="button-container">
                            <a href="#" class="button button-wide grey-bg icon-right rounded-borders">
                                <span>View All Course Offerings</span>
                                <img src="img/arrow.png" alt="Arrow" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="our-process">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="light white">Our Process</h4>
                        
                        <div class="stages-container">
                            <div class="stages two-cols">
                                <div class="col1">
                                    <ul class="no-bullets">
                                        <li>
                                            <span class="icon-container">
                                                <img src="img/icon1.png" alt="Initial Request" />
                                            </span>
                                            
                                            <span class="text-container">Initial Request</span>
                                        </li>
                                        
                                        <li>
                                            <span class="icon-container">
                                                <img src="img/icon3.png" alt="Qualify" />
                                            </span>
                                            
                                            <span class="text-container">Qualify</span>
                                        </li>
                                        
                                        <li>
                                            <span class="icon-container">
                                                <img src="img/icon5.png" alt="Customize" />
                                            </span>
                                            
                                            <span class="text-container">Customize</span>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="col1">
                                    <ul class="no-bullets">
                                        <li>
                                            <span class="icon-container">
                                                <img src="img/icon2.png" alt="Approve" />
                                            </span>
                                            
                                            <span class="text-container">Approve</span>
                                        </li>
                                        
                                        <li>
                                            <span class="icon-container">
                                                <img src="img/icon4.png" alt="Deliver" />
                                            </span>
                                            
                                            <span class="text-container">Deliver</span>
                                        </li>
                                        
                                        <li>
                                            <span class="icon-container">
                                                <img src="img/icon6.png" alt="Post-Course Follow Up" />
                                            </span>
                                            
                                            <span class="text-container">Post-Course Follow Up</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="logos">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logos-inner">
                            <img src="img/logo1.png" alt="Angular logo" />
                            <img src="img/logo2.png" alt="IBM logo" />
                            <img src="img/logo3.png" alt="Docker logo" />
                            <img src="img/logo4.png" alt="Juniper logo" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="subscribe-inner">
                            <h4 class="light white">Stay up to date, <br>with all our offerings:</h4>
                            
                            <form>
                                <div class="left-side">
                                    <div class="inputs-row">
                                        <input type="text" name="first-name" class="rounded light-border" placeholder="First Name">
                                        <input type="text" name="last-name"  class="rounded light-border" placeholder="Last Name">
                                    </div>
                                    
                                    <div class="inputs-row">
                                        <input type="email" name="email" class="rounded light-border" placeholder="Email">
                                        <input type="tel" name="phone" class="rounded light-border" placeholder="Phone">
                                    </div>
                                </div>
                                
                                <div class="right-side">
                                    <input type="submit" value="Submit" class="button rounded-borders green-bg" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{ end }}