<div class="topnav-mobile">
    <div class="topnav-left">
        <a href="#">
            <img src="img/logo.png" alt="SkillDevelopers logo" />
        </a>
    </div>
    
    <div class="topnav-right">
        <div class="mobile-menu-trigger">
            <span class="trigger-line"></span>
            <span class="trigger-line"></span>
            <span class="trigger-line"></span>
        </div>
    </div>
</div>

<div class="topnav">
    <div class="topnav-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="tel:609.555.1212" class="grey phone-link"><img src="img/phone-icon.png" alt="Phone icon" /> 609.555.1212</a>
                    <form>
                        <input type="search" name="search" class="border-radius" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="topnav-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="topnav-left">
                        <a href="#">
                            <img src="img/logo.png" alt="SkillDevelopers logo" />
                        </a>
                    </div>
                    
                    <div class="topnav-right">
                        <a href="browse-sections.html" class="grey">Courses</a>
                        <a href="#" class="grey">Approach</a>
                        <a href="#" class="grey">Expertise</a>
                        <a href="#" class="grey">What Sets Us Apart</a>
                        <a href="about-us.html" class="grey">About</a>
                        <a href="contact-us.html" class="grey">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>